RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
# RewriteBase /

#<Files *.php>
#    Order Deny,Allow
#    Deny from all
#</Files>
#
#<Files index.php>
#    Order Allow,Deny
#    Allow from all
#</Files>
#
#<Files contato_menor.php>
#    Order Allow,Deny
#    Allow from all
#</Files>

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
